@model AppSocialLinkUpdateViewModel

@{
    ViewBag.Title = localizer["Edit social URL-address"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoPath = "~/images/" + (Model.ExistingSocialImagePath ?? "no-image-icon.png");
}

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div class="container">
    <div class="card text-center m-2 p-2">
        <form asp-action="EditSocialData" asp-controller="Appmanage" enctype="multipart/form-data" method="post">
            <input hidden asp-for="Id" />

            <div class="form-group">
                <label style="font-size:1.5em; font-weight:bolder;">
                    @localizer["UrlAddress"]
                </label>
                <input type="text" asp-for="UrlAddress" class="form-control" />
                <span asp-validation-for="UrlAddress" class="text-danger"></span>
            </div>
            <hr />

            <div class="form-group">
                <label style="font-size:1.5em; font-weight:bolder;">
                    @localizer["AppSocialImgs"]
                </label>
                <div class="custom-file">
                    <input asp-for="AppSocialImgs" class="form-control custom-file-input" />
                    <label class="custom-file-label">Click here to change image...</label>
                </div>
            </div>
            <div class="form-group row col-sm-4 offset-4">
                <img src="@photoPath" style="height:100%; width:100%;" asp-append-version="true" />
            </div>
            <hr />

            <div class="form-group">
                <input type="submit" value="@localizer["Edit"]" class="btn btn-outline-success" style="font-size:1.3em;" />
                <a asp-action="SocialList" asp-controller="Appmanage" class="btn btn-outline-warning" style="font-size:1.3em;">
                    @localizer["Cancel"]
                </a>
            </div>

            @section Scripts{
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileLabel = $(this).next('.custom-file-label');
                            var files = $(this)[0].files;
                            if (files.length > 1) {
                                fileLabel.html(files.length + ' files selected');
                            }
                            else if (files.length == 1) {
                                fileLabel.html(files[0].name);
                            }
                        });
                    });


                </script>
            }

        </form>
    </div>
</div>