@model IEnumerable<AppAddress>

@if (Model.Count() == 0)
{
    <hr />
    <h3 class="text-center text-danger">Please add contacts</h3>
}
else
{
    @foreach (var item in Model)
    {
        <div class="container">

            <div class="row border m-2 p-2" style="box-shadow: 2px 2px 7px #000000;">
                <div class="col-sm p-2">
                    <h4 class="card-title" style="text-decoration:underline;">@item.City</h4>
                    <p class="card-text">@item.Address</p>
                    <p class="card-text">@item.Phone</p>
                    <p class="card-text">@item.Email</p>
                    <hr />
                    <p class="card-text mb-2">@item.Description</p>
                </div>
                <div class="col-sm mt-2">
                    <img src="~/images/@item.Picture" alt="contact image" style="height:80%; width:100%; border-radius:10px;" />
                </div>
            </div>

        </div>
    }
}